@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html, body {
    height: 100%;
    width: 100%;
    font-size: 18px;
}
body {
    /* padding: 0 10%; */
    background-image: url(../images/illustration-working.svg);
    background-position: 120% 180px;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.nav, ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav {
    padding-top: 40px;
    width: 100%;
}

.logo {
    margin-right: 20px;
}
.nv-menu-principal{
    width: 60%;
}

.nv-menu-login {
    width: 40%;
    justify-content: flex-end;

}

.nv-menu-login li, .nv-menu-principal li {
    margin: 5px 10px;
    padding: 5px 5%;
    min-width: max-content;
}

.nav li:hover {
    cursor: pointer;
    background-color: hsl(180, 66%, 49%);
    border-radius: 20px;
    color: white;
}

.cyan {
    background-color: hsl(180, 66%, 49%);
}

.dark-violet {
    color: hsl(257, 27%, 26%);
}

.red {
    color: hsl(0, 87%, 67%);
}

.gray {
    color: hsl(0, 0%, 75%);
}

.gray-violet {
    color: hsl(257, 7%, 63%);
}

.dark-blue {
    color: hsl(255, 11%, 22%);
}

.very-dark-violet {
    background-color: hsl(260, 8%, 14%);
}

.banner {
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.titulo {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.3rem;
    width: 70%;
}

.subtitulo {
    width: 60%;
    font-weight: 500;
    font-size: 1.4rem;
}

.btnGetStarted{
    cursor: pointer;
    background-color: hsl(180, 66%, 49%);
    border-radius: 40px;
    color: white;
    max-width: 180px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 2rem;
}

.btnGetStarted:hover {
    background-color: hsl(180, 74%, 71%);
}

.max-width {
    max-width: 700px;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    /* margin: 0 20px 20px 20px; */
    background-image: url(../images/bg-shorten-desktop.svg);
    height: 168px;
    border-radius: 10px;
}

.form input {
    width: 75%;
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1rem;
    border: 2px solid hsl(0, 87%, 67%);
}

.form input::placeholder {
    color: hsl(0, 87%, 67%);
}
.form button {
    width: 20%;
    height: 60px;
    border-radius: 10px;
    border: none;
    color: white;
}

.form button:hover {
    background-color: hsl(180, 74%, 71%);
    cursor: pointer;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }