@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html, body {
    height: 100%;
    width: 100%;
    font-size: 18px;
}
body {
    padding: 0 10%;
}

.nav, ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav {
    padding: 40px 0;
}

.logo {
    margin-right: 20px;
}
.nv-menu-principal{
    width: 60%;
}

.nv-menu-login {
    width: 40%;
    justify-content: flex-end;

}

li {
    margin: 5px 10px;
    padding: 5px 20px;
}

.nav li:hover {
    cursor: pointer;
    background-color: hsl(180, 83%, 72%);
    border-radius: 20px;
    color: white;
}

.cyan {
    background-color: hsl(180, 66%, 49%);
}

.dark-violet {
    color: hsl(257, 27%, 26%);
}

.red {
    color: hsl(0, 87%, 67%);
}

.gray {
    color: hsl(0, 0%, 75%);
}

.gray-violet {
    color: hsl(257, 7%, 63%);
}

.dark-blue {
    color: hsl(255, 11%, 22%);
}

.very-dark-violet {
    color: hsl(260, 8%, 14%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }